.vscode/**
src/**
scripts/**
docs/**
out/**/*.map
esbuild.js
eslint.config.mjs
tsconfig.json
*.esproj
.gitignore
node_modules/**
!node_modules/@vscode/codicons/dist/codicon.css
!node_modules/@vscode/codicons/dist/codicon.ttf
package-lock.json
